n8n-workflow-fixed.json
{
  "name": "Hardware and Electronics Deal Aggregator from Turkish Forums",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "7b2c8f7a-a8a7-4ea6-9c6b-4948a8ec1346",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-448, 96]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "donanimArsiviUrl",
              "value": "https://forum.donanimarsivi.com/forumlar/Sicakfirsatlar/",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "r10Url",
              "value": "https://www.r10.net/sicak-firsatlar/",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "apiUrl",
              "value": "https://ffa-ngid1l05j-atackonben-9826s-projects.vercel.app/api/deals",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f4247fef-0d25-4010-b39a-830d90fa7c02",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-224, 96]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.donanimArsiviUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b5baf056-9db8-48ee-8a91-323b2d39564a",
      "name": "Fetch DonanımArsivi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.r10Url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "be7e22c9-4190-4be1-b702-708c567ce3ed",
      "name": "Fetch R10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 192]
    },
    {
      "parameters": {
        "jsCode": "// Parse DonanımArsivi HTML\nconst html = $input.first().json.data || $input.first().json.body || $input.first().json;\nconst items = [];\n\n// Regex ile başlık ve link çıkarma\n// Forum yapısına göre düzenlenmiş regex\nconst titleRegex = /<a[^>]*class=\"[^\"]*js-topicList-title[^\"]*\"[^>]*href=\"([^\"]+)\"[^>]*>([^<]+)<\\/a>/gi;\n\nlet match;\nwhile ((match = titleRegex.exec(html)) !== null) {\n  const url = match[1];\n  const title = match[2].trim();\n  \n  // İndirim bitti kontrolü\n  if (title.toLowerCase().includes('indirim bitti') || \n      title.toLowerCase().includes('x indirim')) {\n    continue;\n  }\n  \n  // Fiyat çıkarma\n  const priceMatch = title.match(/(\\d+[.,]\\d+)\\s*TL/i) || title.match(/(\\d+[.,]\\d+)\\s*₺/i);\n  const price = priceMatch ? priceMatch[1] + ' TL' : null;\n  \n  // Tam URL oluştur\n  const fullUrl = url.startsWith('http') \n    ? url \n    : `https://forum.donanimarsivi.com${url}`;\n  \n  items.push({\n    json: {\n      source: 'DonanımArsivi',\n      title: title,\n      price: price,\n      url: fullUrl\n    }\n  });\n}\n\nreturn items.slice(0, 20); // İlk 20 kayıt"
      },
      "id": "e9c69388-950a-4ffc-a98c-0447de8f296e",
      "name": "Parse DonanımArsivi Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse R10 HTML\nconst html = $input.first().json.data || $input.first().json.body || $input.first().json;\nconst items = [];\n\n// R10 için regex (site yapısına göre düzenlenmeli)\nconst titleRegex = /<a[^>]*class=\"[^\"]*topic[^\"]*\"[^>]*href=\"([^\"]+)\"[^>]*>([^<]+)<\\/a>/gi;\n\nlet match;\nwhile ((match = titleRegex.exec(html)) !== null) {\n  const url = match[1];\n  const title = match[2].trim();\n  \n  // İndirim bitti kontrolü\n  if (title.toLowerCase().includes('indirim bitti') || \n      title.toLowerCase().includes('x indirim')) {\n    continue;\n  }\n  \n  // Fiyat çıkarma\n  const priceMatch = title.match(/(\\d+[.,]\\d+)\\s*TL/i) || title.match(/(\\d+[.,]\\d+)\\s*₺/i);\n  const price = priceMatch ? priceMatch[1] + ' TL' : null;\n  \n  // Tam URL oluştur\n  const fullUrl = url.startsWith('http') \n    ? url \n    : `https://www.r10.net${url}`;\n  \n  items.push({\n    json: {\n      source: 'R10',\n      title: title,\n      price: price,\n      url: fullUrl\n    }\n  });\n}\n\nreturn items.slice(0, 20); // İlk 20 kayıt"
      },
      "id": "afbb4a4b-74c0-4de6-95f2-4dc5c470866c",
      "name": "Parse R10 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 192]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "309d5831-6189-4dbb-820a-6af1c9d9377f",
      "name": "Merge Both Sources",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 96]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.title }}",
              "rightValue": "İndirim Bitti",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.title }}",
              "rightValue": "X İndirim",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fefa1f44-77cd-447e-910a-3375c456b08a",
      "name": "Filter Out Expired Deals",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.apiUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ $json.source }},\n  \"title\": {{ $json.title }},\n  \"price\": {{ $json.price }},\n  \"url\": {{ $json.url }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "77920545-a3ad-4d15-98ec-0dfca5f72456",
      "name": "Post to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [896, 96]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [[{"node": "Workflow Configuration", "type": "main", "index": 0}]]
    },
    "Workflow Configuration": {
      "main": [[
        {"node": "Fetch DonanımArsivi", "type": "main", "index": 0},
        {"node": "Fetch R10", "type": "main", "index": 0}
      ]]
    },
    "Fetch DonanımArsivi": {
      "main": [[{"node": "Parse DonanımArsivi Data", "type": "main", "index": 0}]]
    },
    "Fetch R10": {
      "main": [[{"node": "Parse R10 Data", "type": "main", "index": 0}]]
    },
    "Parse DonanımArsivi Data": {
      "main": [[{"node": "Merge Both Sources", "type": "main", "index": 0}]]
    },
    "Parse R10 Data": {
      "main": [[{"node": "Merge Both Sources", "type": "main", "index": 0}]]
    },
    "Merge Both Sources": {
      "main": [[{"node": "Filter Out Expired Deals", "type": "main", "index": 0}]]
    },
    "Filter Out Expired Deals": {
      "main": [[{"node": "Post to API", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}

